@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Narrow|Ubuntu&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --iceBlue: #6E9ABC;
  --bluePurple: #4656A1;
  --blueGrey: #2C655C;
  --grey: #D6ECEF;
}


body {
    background-image: url(./img/question\ mark.jpg);
}

.container {
    width: 375px;
    height: 625px;
    border: 3px solid var(--black);
    box-shadow: 3px 3px 6px var(--iceBlue);
    border-radius: 10%;
    margin: 30px auto;
    background-color: var(--white);
    background-image: url('./img/ice-hanging.png');
    background-repeat: repeat-x;
    color: var(--black);
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center; 
    color: var(--bluePurple);
    text-shadow: 2px 2px 2px var(--black);
    font-family: 'Montserrat', sans-serif;
  }
  
  #random {
    text-align: center; 
    height: 330px;
    margin: 55px 10px 0px 10px;
    font-size: 28px;
    color: var(--blueGrey);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  #player {
    text-align: center;
    height: 5px;
    font-size: 25px;
    color: var(--blueGrey);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

  }
  
  button {
    width: 325px;
    height: 60px;
    border-radius: 10px;
    margin-left: 25px;
    margin-bottom: 5px;
    background-color: var(--blueGrey);
    color: var(--grey);
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 3px 3px 6px var(--black);
  }
  
  .ice {
    height: 75px;
    border-radius: 30px;
  }
  
  #cube {
    height: 65px;
    margin-left: 30px;
    margin-top: 10px;
  }
  
  #pick {
    width: 60%;
    
  }